@media screen and (max-width: 1300px) {
  .favourite-container {
    width: 1000px;
  }
}

@media screen and (max-width: 1100px) {
  .favourite-container {
    width: 500px;
    height: auto;
    flex-direction: column;
    padding: 60px 0;
    gap: 30px;
  }
}

@media screen and (max-width: 620px) {
  .favourite-container {
    width: 400px;
    height: auto;
    flex-direction: column;
    padding: 60px 0;
    gap: 30px;
  }

  .favourite-img {
    width: 200px;
    border-radius: 25px;
  }

  .favourite-model {
    font-size: 24px;
  }

  .memory-price-boxes {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 500px) {
  .favourite-container {
    width: 350px;
    height: auto;
    flex-direction: column;
    padding: 60px 0;
    gap: 30px;
  }

  .favourite-img {
    width: 200px;
    border-radius: 25px;
  }

  .favourite-model {
    font-size: 22px;
  }

  .memory-price-boxes {
    gap: 30px;
  }
}

@media screen and (max-width: 414px) {
  .favourite-container {
    width: 300px;
    height: auto;
    flex-direction: column;
    padding: 60px 0;
    gap: 30px;
  }

  .favourite-img {
    width: 200px;
    border-radius: 25px;
  }

  .favourite-model {
    font-size: 18px;
  }

  .favourite-color {
    font-size: 16px;
  }

  .memory-price-boxes {
    gap: 30px;
  }

  .favourite-memory {
    font-size: 16px;
  }
}