.items-component-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background: #ececec;
  padding-top: 30px;
  padding-bottom: 200px;
  transition: all 0.3s ease-in-out;
}

.items-component-content {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.items-list-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.items-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0 60px;
  background: #fafafa;
  border-radius: 10px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.items-srch-button-box {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 50px;
}

.items-srch {
  width: 300px;
  height: 40px;
  font-size: 18px;
  border: none;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  outline: 0;
  background: #ebebeb;
  padding: 10px;
}

.items-srch-button {
  width: 60px;
  height: 40px;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background: #ea336f;
  cursor: pointer;
}

.items-srch-icon {
  font-size: 20px;
  color: #fff;
}

.items-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.items-title {
  font-size: 40px;
  border-bottom: 2px solid gray;
  padding-bottom: 10px;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

